*.o
*.elc
*~
*#
.#*
etc/DOC-24.3.*
src/emacs-24.3.*

configure
Makefile
autom4te.cache/
config.log
config.status
doc/emacs/Makefile
doc/lispintro/Makefile
doc/lispref/Makefile
doc/misc/Makefile
etc/DOC
etc/DOC-24.3.1
leim/Makefile
leim/changed.misc
leim/changed.tit
leim/leim-list.el
leim/quail/4Corner.el
leim/quail/4Corner.elc
leim/quail/ARRAY30.el
leim/quail/ARRAY30.elc
leim/quail/CCDOSPY.el
leim/quail/CCDOSPY.elc
leim/quail/CTLau-b5.el
leim/quail/CTLau-b5.elc
leim/quail/CTLau.el
leim/quail/CTLau.elc
leim/quail/ECDICT.el
leim/quail/ECDICT.elc
leim/quail/ETZY.el
leim/quail/ETZY.elc
leim/quail/PY-b5.el
leim/quail/PY-b5.elc
leim/quail/PY.el
leim/quail/PY.elc
leim/quail/Punct-b5.el
leim/quail/Punct-b5.elc
leim/quail/Punct.el
leim/quail/Punct.elc
leim/quail/QJ-b5.el
leim/quail/QJ-b5.elc
leim/quail/QJ.el
leim/quail/QJ.elc
leim/quail/SW.el
leim/quail/SW.elc
leim/quail/TONEPY.el
leim/quail/TONEPY.elc
leim/quail/ZIRANMA.el
leim/quail/ZIRANMA.elc
leim/quail/ZOZY.el
leim/quail/ZOZY.elc
leim/quail/quick-b5.el
leim/quail/quick-b5.elc
leim/quail/quick-cns.el
leim/quail/quick-cns.elc
leim/quail/tsang-b5.el
leim/quail/tsang-b5.elc
leim/quail/tsang-cns.el
leim/quail/tsang-cns.elc
lib-src/Makefile
lib-src/ctags
lib-src/ebrowse
lib-src/emacsclient
lib-src/etags
lib-src/hexl
lib-src/make-docfile
lib-src/movemail
lib-src/profile
lib-src/test-distrib
lib-src/update-game-score
lib/.deps/
lib/Makefile
lib/alloca.h
lib/arg-nonnull.h
lib/c++defs.h
lib/inttypes.h
lib/libgnu.a
lib/signal.h
lib/stdio.h
lib/stdlib.h
lib/sys/
lib/time.h
lib/unistd.h
lib/warn-on-use.h
lisp/Makefile
lisp/subdirs.el~
lwlib/Makefile
nextstep/Makefile
oldXMenu/Makefile
src/Makefile
src/bootstrap-emacs
src/buildobj.h
src/config.h
src/deps/
src/emacs
src/emacs-24.3.1
src/epaths.h
src/gl-stamp
src/globals.h
src/stamp-h1
src/stamp-oldxmenu
src/temacs
